*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

/* Ricorrenti */
.flex{
    display: flex;
    justify-content: space-between;
}

.f-center{
    align-items: center;
}

.blue{
    background-color: #0061ff;
    color: white;
    padding: 10px;
    border: none;
}

.bg-blue{
    background-color: #b4d0e7;
}

.width80{
    width: 80%;
    margin: auto;
}

.width70{
    width: 70%;
    margin: auto;
}

h1{
    font-size: 4rem;
    text-align: center;
    padding: 50px 0;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.margin-vertical{
    margin: 20px 0;
}
/* Altre classi */

nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.nav-left, .nav-right{
    margin: 20px 20px;
}
.nav-right-menu, .nav-left-menu{
    margin: 0px 20px;
}

.jumbotron{
    padding-top: 100px;
}

.jumbo-left{
    flex-basis: 25%;
    line-height: 24px;
}

.jumbo-right{
    flex-basis: 70%;
    position: relative;
}

.jumbo-right img{
    width: 100%;
    top: 0;
    bottom: -10px;
}

.fa-arrow-down{
    font-size: 2.5rem;
    margin-top: 50px;
}